.hvr_navBtn:hover {
  color: $primary-light !important;
  background: $secondary;
}

.hvr_search:hover {
  background: $primary-light !important;
}

.hvr_showMap:hover {
  background: $primary !important;
  color: $white;
}
